@charset "utf-8";
/**
 * @framework	CFF - Classy Frontend Framework
 * @author		Angelo Dini
 * @copyright	http://www.divio.ch under the BSD Licence
 * @extends		desktop.css
 */

/*##################################################|*/
/* #IE6 FRAMEWORK FIXES# */
body { padding-top:50px; } #require-browser { display:block; }
hr { margin:0.63em 0; } /* margin fix */

/*##################################################|*/
/* #IE6 CUSTOM FIXES# */

/*##################################################|*/
/* #EASY CSS PNGFIX# */
* html .pngfixcss {
behavior:
	expression((this.runtimeStyle.behavior="none")&&(this.pngSet?this.pngSet=true:(
	/* for images */
	this.nodeName == "IMG" && this.src.toLowerCase().indexOf('.png')>-1?(this.runtimeStyle.backgroundImage = "none",
	this.runtimeStyle.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.src + "', sizingMethod='image')",
	this.src = "/media/img/transparent.gif"):(
	/* for background */
	this.origBg = this.origBg?this.origBg:this.currentStyle.backgroundImage.toString().replace('url("','').replace('")',''),
	this.runtimeStyle.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.origBg + "', sizingMethod='crop')",
	this.runtimeStyle.backgroundImage = "none")),this.pngSet=true));
}