@charset "utf-8";
/**
 * @framework	CFF - Classy Frontend Framework
 * @author		Angelo Dini
 * @copyright	http://www.divio.ch under the BSD Licence
 * @extends		desktop.css
 */

/*##################################################|*/
/* IE<8 FRAMEWORK FIXES# */
.opacity { -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; filter:alpha(opacity=80); opacity:0.8; } /* opacity hack */

/*##################################################|*/
/* IE7 FRAMEWORK FIXES# */
*+html hr { margin:0.63em 0; } /* margin fix */
*+html {}

/*##################################################|*/
/* IE8 FRAMEWORK FIXES */
*html {}

/*##################################################|*/
/* IE SPECIFIC FIXES */