@charset "utf-8";
/**
 * @framework	CFF - Classy Frontend Framework
 * @author		Angelo Dini
 * @copyright	http://www.divio.ch under the BSD Licence
 * @extends		base.css
 */

/*##################################################|*/
/* #BASE# */
.container_12,.container_16,.container_24{width:100%;}
.grid_1,.grid_2,.grid_3,.grid_4,.grid_5,.grid_6,.grid_7,.grid_8,.grid_9,.grid_10,.grid_11,.grid_12,.grid_13,.grid_14,.grid_15,.grid_16,.grid_17,.grid_18,.grid_19,.grid_20,.grid_21,.grid_22,.grid_23,.grid_24{width:100% !important; margin:0;}
.push_1,.pull_1,.push_2,.pull_2,.push_3,.pull_3,.push_4,.pull_4,.push_5,.pull_5,.push_6,.pull_6,.push_7,.pull_7,.push_8,.pull_8,.push_9,.pull_9,.push_10,.pull_10,.push_11,.pull_11,.push_12,.pull_12,.push_13,.pull_13,.push_14,.pull_14,.push_15,.pull_15,.push_16,.pull_16,.push_17,.pull_17,.push_18,.pull_18,.push_19,.pull_19,.push_20,.pull_20,.push_21,.pull_21,.push_22,.pull_22,.push_23,.pull_23{left:0; top:0; width:0; padding:0; margin:0;}
.suffix_1,.suffix_2,.suffix_3,.suffix_4,.suffix_5,.suffix_6,.suffix_7,.suffix_8,.suffix_9,.suffix_10,.suffix_11,.suffix_12,.suffix_13,.suffix_14,.suffix_15,.suffix_16,.suffix_17,.suffix_18,.suffix_19,.suffix_20,.suffix_21,.suffix_22,.suffix_23,.suffix_24 { padding:0 !important; }

body{ min-width:96%; margin:0 2%; }
img { max-width:100%; }

.nomobile { display:none; }

#cms_toolbar_mini, #cms_toolbar, #cms_toolbar_spacer, #cms_plugin_overlay { display:none !important; }

/*
 * this style uses #base.css# as its core and extends some parameters
 * its only used for desktop systems
 */
