@charset "utf-8";
/**
 * @framework	CFF - Classy Frontend Framework
 * @author		Angelo Dini
 * @copyright	http://www.divio.ch under the BSD Licence
 * @extends		base.css
 */

/*##################################################|*/
/* #BASE# */
*,body{ background:#fff; }
body{ color:#000; font:13px Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif; }

/*##################################################|*/
/* #HELPERS# */
.print { display:block; position:static; left:0; }
.noprint { display:none !important; }

/* #HELPERS/page-break# */
.pb-after  { page-break-after:always; /* always || avoid */ }
.pb-before { page-break-before:always; /* always || avoid */ }

/* #HELPERS/links# */
/*a:after, a:link:after,
a:visited:after { content: " * Link: " attr(href) "* "; }*/
p a:after { content:" ("attr(href)") "; }

/*##################################################|*/
/* #BASE# */
#mainnav, .subnav, #footer { display:none; }