{% extends "base.html" %}
{% load i18n cms_tags menu_tags %}

{% block tpl_id %}tpl_master{% endblock %}

{% block extend_base %}
<!-- start: header -->
{% block header %}
<div id="header">
	<div class="header container_24 clearfix">
		<h1 class="logo_main clearfix"><a href="/" class="offset noprint pngfix">{{ site_settings.site.name }}</a><img src="{{ MEDIA_URL }}img/logo_main.png" class="print" alt="{{ site_settings.site.name }}" /></h1>

		<!-- start: wai -->
		<hr class="hidden" />
		<h2 class="hidden">{% trans "Shortcuts:" %}</h2>
		<ul class="hidden">
			<li><a href="/" title="[Alt + 0]" accesskey="0">{% trans "Go to home" %}</a></li>
			<li><a href="#navigation" title="[Alt + 1]" accesskey="1">{% trans "Jump to navigation" %}</a></li>
			<li><a href="#main" title="[Alt + 2]" accesskey="2">{% trans "Jump to content" %}</a></li>
			<li><a href="#footer" title="[Alt + 3]" accesskey="3">{% trans "Contact" %}</a></li>
			<li><a href="#footer" title="[Alt + 4]" accesskey="4">{% trans "Sitemap" %}</a></li>
		</ul>
		<hr class="hidden" />
		<!-- end: wai -->

		<h2 class="hidden" id="navigation">{% trans "Navigation:" %}</h2>
		<!-- main navigation -->
		<ul id="mainnav" class="clearfix"> 
			{% spaceless %}{% show_menu 0 0 100 100 "menu/mainnav.html" %}{% endspaceless %}
		</ul>

		{% if request.path != "/" %}
		<!-- breadcrumb -->
		<ul class="breadcrumb clearfix">
			<li class="title">{% trans "You are here: " %}</li>
			{% spaceless %}{% show_breadcrumb 0 "inc/breadcrumb.html" %}{% endspaceless %}
			{% block extend_breadcrumb %}{% endblock extend_breadcrumb %}
		</ul>
		{% endif %}
	</div>
</div>
{% endblock header %}
<!-- end: header -->

<h1 class="hidden" id="content">{% trans "Content:" %} {% page_attribute title %}</h1>
{% block extend_master %}
<!-- start: content -->
<div id="main">
	<div class="content container_24 clearfix">
		{% block feature %}<div class="feature">{% with "940" as width %}{% placeholder feature %}{% endwith %}</div>{% endblock feature %}
		{% block col_content %}
			<div class="grid_24">
			{% block page_title %}<h1>{% page_attribute title %}</h1>{% endblock page_title %}

			{% with "940" as width %}
				{% placeholder col_content %}
			{% endwith %}
			</div>
		{% endblock col_content %}
	</div>
</div>
<!-- end: content -->
{% endblock extend_master %}

<!-- start: footer -->
{% block footer %}
<div id="footer">
	<div class="footer container_24 clearfix">
		<hr class="hidden" />
		<h2 class="hidden">{% trans "Footer:" %}</h2>

		<div class="box shadow sponsors clearfix">
			<div class="grid_16 alpha">
				<h3>{% trans "Sponsor" %} <a href="#info" rel="divio.ch" class="mailcrypte">{% trans "Want to become a Sponsor?" %}</a></h3>
				<p><a href="http://www.divio.ch/"><img src="{{ MEDIA_URL }}img/theme/logo_divio.png" alt="" /></a></p>
			</div>
			<div class="grid_8 omega">
				<h3>{% trans "Technologies used" %}</h3>
				<p><a href="http://www.python.org/" class="first"><img src="{{ MEDIA_URL }}img/theme/logo_python.png" alt="" /></a> <a href="http://www.djangoproject.com/"><img src="{{ MEDIA_URL }}img/theme/logo_django.png" alt="" /></a></p>
			</div>
		</div>

		<div class="box_blue copyright clearfix">
			<p class="left">
				<span>{% trans "Powered by" %}</span> 
				<a href="http://www.django-cms.org" class="logo_djangocms first offset">django-cms.org</a> 
				<span>{% trans "Follow us!" %}</span>
				<a href="http://twitter.com/djangocms" class="logo_twitter offset pngfix">twitter</a> 
				<a href="http://www.facebook.com/pages/django-cms/137086102977211" class="logo_facebook offset pngfix">{% trans "facebook" %}</a> 
				<a href="https://github.com/divio/django-cms" class="logo_github offset pngfix">{% trans "github" %}</a>
			</p>
			<p class="right">&copy; 2007-{% now "Y" %} <a href="http://www.divio.ch" class="offset logo_divio-small pngfix">{% trans "Divio GmbH" %}</a> {% trans "All rights reserved" %}</p>
		</div>
	</div>
</div>
{% endblock footer %}
<!-- end: footer --> 
{% endblock extend_base %}

{% comment %}
	<!-- submenu -->
	{% spaceless %}{% show_menu 1 100 0 1 "menu/subnav.html" %}{% endspaceless %}
	{% spaceless %}{% show_sub_menu 100 "menu/subnav.html" %}{% endspaceless %}
	{% spaceless %}{% show_menu_below_id "meta" 0 100 100 100 "menu/subnav.html" %}{% endspaceless %}
	<!-- language menu -->
	{% spaceless %}{% language_chooser "menu/langnav.html" "native" %}{% endspaceless %}
{% endcomment %}