@charset "utf-8";
/**
 * @framework	CFF - Classy Frontend Framework
 * @author		Angelo Dini
 * @copyright	http://www.divio.ch under the BSD Licence
 * @extends		theme/custom.css
 */

/*##################################################|*/
/* #ANIMATIONS# */
.content a:hover {
	-webkit-transition:all 0.2s linear;
	-moz-transition:all 0.2s linear;
	transition:all 0.2s linear;
	behavior:url('/media/css/PIE.htc');
}